In [1]:
import pandas as pd
import requests
pd.options.display.max_columns = 999

In [2]:
import pandas as pd
import requests

url = 'https://www.pro-football-reference.com/years/2021/rushing.htm'
resp = requests.get(url)
resp

output = open('../nfl_data/2021_rushing_stats.xls', 'wb')
output.write(resp.content)
output.close()

In [4]:
position = ['rushing', 'passing', 'receiving']

for element in position:
    url = f'https://www.pro-football-reference.com/years/2021/{element}.htm'
    resp = requests.get(url)
    
    output = open(f'../nfl_data/2021_{element}_stats.xls', 'wb')
    output.write(resp.content)
    output.close()

In [6]:
df_wr = pd.read_html('../nfl_data/2021_receiving_stats.xls')
df_wr = pd.DataFrame(df_wr[0]) # Saves df var to dataframe
#df_wr = df_rb.droplevel(0, axis=1) # Removes first level column
df_wr

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,1,Cooper Kupp*+,LAR,28,WR,17,17,191,145,75.9%,1947,13.4,16,89,59,10.2,8.5,114.5,0
1,2,Davante Adams*+,GNB,29,WR,16,16,169,123,72.8%,1553,12.6,11,84,59,9.2,7.7,97.1,0
2,3,Tyreek Hill*,KAN,27,WR,17,16,159,111,69.8%,1239,11.2,9,75,75,7.8,6.5,72.9,2
3,4,Justin Jefferson*,MIN,22,WR,17,17,167,108,64.7%,1616,15.0,10,75,56,9.7,6.4,95.1,1
4,5,Mark Andrews*+,BAL,26,te,17,9,153,107,69.9%,1361,12.7,9,75,43,8.9,6.3,80.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,508,Seth Williams,DEN,21,wr,2,1,1,1,100.0%,34,34.0,0,1,34,34.0,0.5,17.0,0
524,509,Trayveon Williams,CIN,24,NaN,5,0,2,1,50.0%,4,4.0,0,0,4,2.0,0.2,0.8,0
525,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
526,510,Easop Winston,NOR,25,NaN,3,1,1,1,100.0%,5,5.0,0,0,5,5.0,0.3,1.7,0
527,511,Deon Yelder,TAM,26,NaN,5,0,1,1,100.0%,0,0.0,0,0,0,0.0,0.2,0.0,0

In [7]:
df_qb = pd.read_html('../nfl_data/2021_passing_stats.xls')
df_qb = pd.DataFrame(df_qb[0]) # Saves df var to dataframe
#df_qb = df_rb.droplevel(0, axis=1) # Removes first level column
df_qb

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,67.5,5316,43,6,12,1.7,269,62,7.4,7.8,11.0,312.7,102.1,68.1,22,144,3,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,67.2,4886,41,6.8,17,2.8,233,79,8.1,8.2,12.1,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2,260,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,217,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6,6.85,6.60,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,111,Cordarrelle Patterson,ATL,30,RB,16,13,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,2.9,0,0,0,0.00,0.00,NaN,NaN
114,112,Brett Rypien,DEN,25,NaN,1,0,NaN,0,2,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,1.1,0,0,0,0.00,0.00,NaN,NaN
115,113,D'Andre Swift,DET,22,rb,13,4,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.5,0,0,0,0.00,0.00,NaN,NaN
116,114,Albert Wilson,MIA,29,wr,14,5,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.0,1,1,50,-0.50,-0.50,NaN,NaN
117,115,Brandon Zylstra,CAR,28,wr,13,3,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.4,0,0,0,0.00,0.00,NaN,NaN

In [8]:
df_rb = pd.read_html('../nfl_data/2021_rushing_stats.xls')
df_rb = pd.DataFrame(df_rb[0]) # Saves df var to dataframe
df_rb = df_rb.droplevel(0, axis=1) # Removes first level column
df_rb

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Jonathan Taylor*+,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
1,2,Najee Harris*,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0
2,3,Joe Mixon*,CIN,25,RB,16,16,292,1205,13,60,32,4.1,75.3,2
3,4,Antonio Gibson,WAS,23,RB,16,14,258,1037,7,65,27,4.0,64.8,6
4,5,Dalvin Cook*,MIN,26,RB,13,13,249,1159,6,57,66,4.7,89.2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,367,Quez Watkins,PHI,23,WR,17,12,1,3,0,0,3,3.0,0.2,0
379,368,Derek Watt,PIT,29,fb,17,4,1,1,0,1,1,1.0,0.1,0
380,369,Preston Williams,MIA,24,wr,8,3,1,7,0,0,7,7.0,0.9,0
381,370,Andrew Wingard,JAX,25,S,15,15,1,4,0,1,4,4.0,0.3,0
382,371,Olamide Zaccheaus,ATL,24,wr,17,8,1,2,0,1,2,2.0,0.1,0

In [ ]:
df_rb.dtypes

### Convert all wanted columns to int

#### `df_rb`

In [9]:
df_rb.head(2)

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Jonathan Taylor*+,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
1,2,Najee Harris*,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0

In [ ]:
df_rb.columns

In [10]:
def drop_rows(position):
    for header in position.columns:
        index_list = position.loc[(position[header] == header)].index
        position.drop(labels=index_list, axis=0, inplace = True)
        return
drop_rows(df_rb)

In [ ]:
df_rb.dtypes

In [11]:
int_cols = ['Att', 'Yds', 'TD', '1D', 'Lng', 'Fmb', 'G', 'GS']
float_cols = ['Y/A', 'Y/G']

for int_col in int_cols:
    df_rb[f'{int_col}'] = df_rb[f'{int_col}'].astype(int)

for float_col in float_cols:
    df_rb[f'{float_col}'] = df_rb[f'{float_col}'].astype(float)

In [ ]:
df_rb.dtypes

In [12]:
df_rb['Player'] = df_rb['Player'].map(lambda x: x.lstrip('*').rstrip('+').rstrip('*'))
df_rb

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Jonathan Taylor,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
1,2,Najee Harris,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0
2,3,Joe Mixon,CIN,25,RB,16,16,292,1205,13,60,32,4.1,75.3,2
3,4,Antonio Gibson,WAS,23,RB,16,14,258,1037,7,65,27,4.0,64.8,6
4,5,Dalvin Cook,MIN,26,RB,13,13,249,1159,6,57,66,4.7,89.2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,367,Quez Watkins,PHI,23,WR,17,12,1,3,0,0,3,3.0,0.2,0
379,368,Derek Watt,PIT,29,fb,17,4,1,1,0,1,1,1.0,0.1,0
380,369,Preston Williams,MIA,24,wr,8,3,1,7,0,0,7,7.0,0.9,0
381,370,Andrew Wingard,JAX,25,S,15,15,1,4,0,1,4,4.0,0.3,0
382,371,Olamide Zaccheaus,ATL,24,wr,17,8,1,2,0,1,2,2.0,0.1,0

#### `df_wr`

In [13]:
def drop_rows(position):
    for header in position.columns:
        index_list = position.loc[(position[header] == header)].index
        position.drop(labels=index_list, axis=0, inplace = True)
        return
drop_rows(df_wr)

In [14]:
df_wr.head(2)

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,1,Cooper Kupp*+,LAR,28,WR,17,17,191,145,75.9%,1947,13.4,16,89,59,10.2,8.5,114.5,0
1,2,Davante Adams*+,GNB,29,WR,16,16,169,123,72.8%,1553,12.6,11,84,59,9.2,7.7,97.1,0

In [15]:
def remove_punctuation(column, punc):
    return column.replace(punc, '', regex=True, inplace=True)

In [16]:
remove_punctuation(df_wr['Ctch%'], '%')

In [17]:
int_cols = ['Tgt', 'Rec', 'TD', 'Yds', 'Lng', 'Fmb', 'G', 'GS', '1D']
float_cols = ['Ctch%', 'Y/R', 'R/G', 'Y/Tgt', 'Y/G']

for int_col in int_cols:
    df_wr[f'{int_col}'] = df_wr[f'{int_col}'].astype(int)

for float_col in float_cols:
    df_wr[f'{float_col}'] = df_wr[f'{float_col}'].astype(float)

In [18]:
df_wr.dtypes

Rk         object
Player     object
Tm         object
Age        object
Pos        object
G           int32
GS          int32
Tgt         int32
Rec         int32
Ctch%     float64
Yds         int32
Y/R       float64
TD          int32
1D          int32
Lng         int32
Y/Tgt     float64
R/G       float64
Y/G       float64
Fmb         int32
dtype: object

In [19]:
df_wr['Player'] = df_wr['Player'].map(lambda x: x.lstrip('*').rstrip('+').rstrip('*'))
df_wr

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,1,Cooper Kupp,LAR,28,WR,17,17,191,145,75.9,1947,13.4,16,89,59,10.2,8.5,114.5,0
1,2,Davante Adams,GNB,29,WR,16,16,169,123,72.8,1553,12.6,11,84,59,9.2,7.7,97.1,0
2,3,Tyreek Hill,KAN,27,WR,17,16,159,111,69.8,1239,11.2,9,75,75,7.8,6.5,72.9,2
3,4,Justin Jefferson,MIN,22,WR,17,17,167,108,64.7,1616,15.0,10,75,56,9.7,6.4,95.1,1
4,5,Mark Andrews,BAL,26,te,17,9,153,107,69.9,1361,12.7,9,75,43,8.9,6.3,80.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,507,Christian Wilkins,MIA,26,DT,17,17,1,1,100.0,1,1.0,1,1,1,1.0,0.1,0.1,1
523,508,Seth Williams,DEN,21,wr,2,1,1,1,100.0,34,34.0,0,1,34,34.0,0.5,17.0,0
524,509,Trayveon Williams,CIN,24,NaN,5,0,2,1,50.0,4,4.0,0,0,4,2.0,0.2,0.8,0
526,510,Easop Winston,NOR,25,NaN,3,1,1,1,100.0,5,5.0,0,0,5,5.0,0.3,1.7,0
527,511,Deon Yelder,TAM,26,NaN,5,0,1,1,100.0,0,0.0,0,0,0,0.0,0.2,0.0,0

#### `qb`

In [20]:
drop_rows(df_qb)

In [21]:
df_qb.head(2)

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,67.5,5316,43,6,12,1.7,269,62,7.4,7.8,11.0,312.7,102.1,68.1,22,144,3,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5

In [22]:
df_qb.fillna(0, inplace=True)

In [23]:
int_cols = ['Cmp', 'Att', 'Yds', 'TD', 'Int', '1D', 'Lng', 'GS', 'Sk', 'Yds.1', '4QC', 'GWD']
float_cols = ['Cmp%', 'TD%', 'Int%', 'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Rate', 'NY/A', 'ANY/A', 'Sk%']

for int_col in int_cols:
    df_qb[f'{int_col}'] = df_qb[f'{int_col}'].astype(int)

for float_col in float_cols:
    df_qb[f'{float_col}'] = df_qb[f'{float_col}'].astype(float)

In [24]:
df_qb['Player'] = df_qb['Player'].map(lambda x: x.lstrip('*').rstrip('*'))
df_qb

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady,TAM,44,QB,17,17,13-4-0,485,719,67.5,5316,43,6.0,12,1.7,269,62,7.4,7.8,11.0,312.7,102.1,68.1,22,144,3.0,6.98,7.41,3,5
1,2,Justin Herbert,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,67.2,4886,41,6.8,17,2.8,233,79,8.1,8.2,12.1,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2.0,260,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,217,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6.0,6.85,6.60,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,111,Cordarrelle Patterson,ATL,30,RB,16,13,0,0,1,0.0,0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,39.6,2.9,0,0,0.0,0.00,0.00,0,0
114,112,Brett Rypien,DEN,25,0,1,0,0,0,2,0.0,0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,39.6,1.1,0,0,0.0,0.00,0.00,0,0
115,113,D'Andre Swift,DET,22,rb,13,4,0,0,1,0.0,0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,39.6,0.5,0,0,0.0,0.00,0.00,0,0
116,114,Albert Wilson,MIA,29,wr,14,5,0,0,1,0.0,0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,39.6,0.0,1,1,50.0,-0.50,-0.50,0,0
117,115,Brandon Zylstra,CAR,28,wr,13,3,0,0,1,0.0,0,0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,39.6,0.4,0,0,0.0,0.00,0.00,0,0

#### create TE df by grabbing te data from wr df

In [25]:
df_te = df_wr.loc[(df_wr['Pos'] == 'TE'.lower())].copy()
df_te

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
4,5,Mark Andrews,BAL,26,te,17,9,153,107,69.9,1361,12.7,9,75,43,8.9,6.3,80.1,1
33,33,Mike Gesicki,MIA,26,te,17,9,112,73,65.2,780,10.7,2,39,40,7.0,4.3,45.9,0
52,52,Pat Freiermuth,PIT,23,te,16,9,79,60,75.9,497,8.3,7,34,24,6.3,3.8,31.1,1
72,71,Hunter Henry,NWE,27,te,17,10,75,50,66.7,603,12.1,9,34,35,8.0,2.9,35.5,0
78,77,Jared Cook,LAC,34,te,16,10,83,48,57.8,564,11.8,4,31,42,6.8,3.0,35.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,470,Nick Boyle,BAL,28,te,5,3,2,1,50.0,2,2.0,0,0,2,1.0,0.2,0.4,0
488,474,Darrell Daniels,ARI,27,te,15,4,4,1,25.0,0,0.0,0,0,0,0.0,0.1,0.0,0
495,480,Daniel Helm,LVR,26,te,9,1,2,1,50.0,-1,-1.0,0,0,0,-0.5,0.1,-0.1,0
504,489,Hunter Long,MIA,23,te,7,2,3,1,33.3,8,8.0,0,0,8,2.7,0.1,1.1,0
520,505,Eric Tomlinson,BAL,29,te,17,7,1,1,100.0,7,7.0,0,0,7,7.0,0.1,0.4,0

In [26]:
df_te['Player'] = df_te['Player'].map(lambda x: x.lstrip('*').rstrip('+').rstrip('*'))
df_te

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
4,5,Mark Andrews,BAL,26,te,17,9,153,107,69.9,1361,12.7,9,75,43,8.9,6.3,80.1,1
33,33,Mike Gesicki,MIA,26,te,17,9,112,73,65.2,780,10.7,2,39,40,7.0,4.3,45.9,0
52,52,Pat Freiermuth,PIT,23,te,16,9,79,60,75.9,497,8.3,7,34,24,6.3,3.8,31.1,1
72,71,Hunter Henry,NWE,27,te,17,10,75,50,66.7,603,12.1,9,34,35,8.0,2.9,35.5,0
78,77,Jared Cook,LAC,34,te,16,10,83,48,57.8,564,11.8,4,31,42,6.8,3.0,35.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,470,Nick Boyle,BAL,28,te,5,3,2,1,50.0,2,2.0,0,0,2,1.0,0.2,0.4,0
488,474,Darrell Daniels,ARI,27,te,15,4,4,1,25.0,0,0.0,0,0,0,0.0,0.1,0.0,0
495,480,Daniel Helm,LVR,26,te,9,1,2,1,50.0,-1,-1.0,0,0,0,-0.5,0.1,-0.1,0
504,489,Hunter Long,MIA,23,te,7,2,3,1,33.3,8,8.0,0,0,8,2.7,0.1,1.1,0
520,505,Eric Tomlinson,BAL,29,te,17,7,1,1,100.0,7,7.0,0,0,7,7.0,0.1,0.4,0

### Goal: master dictionary of all player names and their corresponding Teams

In [27]:
df_wr.shape, df_qb.shape, df_rb.shape, df_te.shape

((511, 19), (115, 31), (371, 15), (67, 19))

In [76]:
dfs = [df_wr, df_qb, df_rb, df_te]
df_roster = pd.concat([df_roster.squeeze() for df_roster in dfs], ignore_index=True)

In [77]:
df_roster = df_roster[['Player', 'Tm']].copy()

In [78]:
df_roster.rename(columns = {'Tm':'Team_Name_Abbrev'}, inplace = True)

In [79]:
df_roster.head()

             Player Team_Name_Abbrev
0       Cooper Kupp              LAR
1     Davante Adams              GNB
2       Tyreek Hill              KAN
3  Justin Jefferson              MIN
4      Mark Andrews              BAL

In [51]:
df_roster.shape

(1064, 2)

In [80]:
df_roster['Player'].value_counts()
# A.J. Brown and others have duplicates.

A.J. Brown              3
Derrick Henry           3
Mike Gesicki            3
Cedrick Wilson Jr.      3
Taysom Hill             3
                       ..
Christian Blake         1
Cody White              1
Mike Thomas             1
Ihmir Smith-Marsette    1
Andrew Wingard          1
Name: Player, Length: 630, dtype: int64

In [81]:
df_roster = df_roster.drop_duplicates()

In [ ]:
df_roster.shape

(630, 2)

In [82]:
df_roster.head()

             Player Team_Name_Abbrev
0       Cooper Kupp              LAR
1     Davante Adams              GNB
2       Tyreek Hill              KAN
3  Justin Jefferson              MIN
4      Mark Andrews              BAL

In [71]:
roster_dict = pd.Series(df_roster.Team_Name_Full.values,index=df_roster.Player).to_dict()
roster_dict

{'Cooper Kupp': 'LAR',
 'Davante Adams': 'GNB',
 'Tyreek Hill': 'KAN',
 'Justin Jefferson': 'MIN',
 'Mark Andrews': 'BAL',
 'Diontae Johnson': 'PIT',
 'Keenan Allen': 'LAC',
 'Jaylen Waddle': 'MIA',
 'Stefon Diggs': 'BUF',
 'Hunter Renfrow': 'LVR',
 'Chris Godwin': 'TAM',
 'D.J. Moore': 'CAR',
 'Travis Kelce': 'KAN',
 'Marquise Brown': 'BAL',
 'Brandin Cooks': 'HOU',
 'Amon-Ra St. Brown': 'DET',
 'Michael Pittman Jr.': 'IND',
 'Jakobi Meyers': 'NWE',
 'Cole Beasley': 'BUF',
 "Ja'Marr Chase": 'CIN',
 'Darnell Mooney': 'CHI',
 'CeeDee Lamb': 'DAL',
 'Dalton Schultz': 'DAL',
 'Christian Kirk': 'ARI',
 'Terry McLaurin': 'WAS',
 'Deebo Samuel': 'SFO',
 'Mike Williams': 'LAC',
 'D.K. Metcalf': 'SEA',
 'Zach Ertz': '2TM',
 'Mike Evans': 'TAM',
 'Najee Harris': 'PIT',
 'Tee Higgins': 'CIN',
 'Mike Gesicki': 'MIA',
 'Marvin Jones': 'JAX',
 'Tyler Lockett': 'SEA',
 'George Kittle': 'SFO',
 'Austin Ekeler': 'LAC',
 'Leonard Fournette': 'TAM',
 'Amari Cooper': 'DAL',
 'Noah Fant': 'DEN',
 'Kyle Pitts': 'ATL',
 'Tyler Boyd': 'CIN',
 'Adam Thielen': 'MIN',
 'Russell Gage': 'ATL',
 'DeVonta Smith': 'PHI',
 'A.J. Brown': 'TEN',
 'Laviska Shenault Jr.': 'JAX',
 "D'Andre Swift": 'DET',
 'Tyler Conklin': 'MIN',
 'Tyler Higbee': 'LAR',
 'T.J. Hockenson': 'DET',
 'Pat Freiermuth': 'PIT',
 'Cole Kmet': 'CHI',
 'Chase Claypool': 'PIT',
 'Mecole Hardman': 'KAN',
 'Courtland Sutton': 'DEN',
 'Brandon Aiyuk': 'SFO',
 'Dallas Goedert': 'PHI',
 'Kendrick Bourne': 'NWE',
 'Rob Gronkowski': 'TAM',
 'Darren Waller': 'LVR',
 'A.J. Green': 'ARI',
 'Josh Jacobs': 'LVR',
 'Rondale Moore': 'ARI',
 'Robby Anderson': 'CAR',
 'Tim Patrick': 'DEN',
 'Aaron Jones': 'GNB',
 'Jarvis Landry': 'CLE',
 'Cordarrelle Patterson': 'ATL',
 'Jamison Crowder': 'NYJ',
 'Hunter Henry': 'NWE',
 'Van Jefferson': 'LAR',
 'K.J. Osborn': 'MIN',
 'Myles Gaskin': 'MIA',
 'Dawson Knox': 'BUF',
 'C.J. Uzomah': 'CIN',
 'Jared Cook': 'LAC',
 'Gerald Everett': 'SEA',
 'Kalif Raymond': 'DET',
 'Ezekiel Elliott': 'DAL',
 'Zay Jones': 'LVR',
 'Alvin Kamara': 'NOR',
 'Darrel Williams': 'KAN',
 'Rashod Bateman': 'BAL',
 'Braxton Berrios': 'NYJ',
 'Marquez Callaway': 'NOR',
 'Evan Engram': 'NYG',
 'Cedrick Wilson Jr.': 'DAL',
 'Robert Woods': 'LAR',
 'Odell Beckham Jr.': '2TM',
 'Mike Davis': 'ATL',
 'Chase Edmonds': 'ARI',
 'J.D. McKissic': 'WAS',
 'Elijah Moore': 'NYJ',
 'Quez Watkins': 'PHI',
 'Javonte Williams': 'DEN',
 'Antonio Brown': 'TAM',
 'Antonio Gibson': 'WAS',
 'DeAndre Hopkins': 'ARI',
 'Joe Mixon': 'CIN',
 'David Montgomery': 'CHI',
 'Byron Pringle': 'KAN',
 'Emmanuel Sanders': 'BUF',
 'Saquon Barkley': 'NYG',
 'Brandon Bolden': 'NWE',
 'Adam Humphries': 'WAS',
 'Devontae Booker': 'NYG',
 'Nyheim Hines': 'IND',
 'Allen Lazard': 'GNB',
 'DeVante Parker': 'MIA',
 'Devin Singletary': 'BUF',
 'Jonathan Taylor': 'IND',
 'Ray-Ray McCloud': 'PIT',
 'Tony Pollard': 'DAL',
 'Kadarius Toney': 'NYG',
 'Ameer Abdullah': '2TM',
 'Austin Hooper': 'CLE',
 'Jerry Jeudy': 'DEN',
 'Zach Pascal': 'IND',
 'Allen Robinson': 'CHI',
 'Nick Westbrook-Ikhine': 'TEN',
 'Nelson Agholor': 'NWE',
 'James Conner': 'ARI',
 'Kenny Golladay': 'NYG',
 'Christian McCaffrey': 'CAR',
 'Michael Carter': 'NYJ',
 'Deonte Harris': 'NOR',
 'Tyler Johnson': 'TAM',
 'David Njoku': 'CLE',
 'Sterling Shepard': 'NYG',
 'Dan Arnold': '2TM',
 'Gabriel Davis': 'BUF',
 'Michael Gallup': 'DAL',
 'Dalvin Cook': 'MIN',
 'Corey Davis': 'NYJ',
 'AJ Dillon': 'GNB',
 'Bryan Edwards': 'LVR',
 'Anthony Firkser': 'TEN',
 'Devonta Freeman': 'BAL',
 'Ty Johnson': 'NYJ',
 'Donovan Peoples-Jones': 'CLE',
 'Durham Smythe': 'MIA',
 'Nico Collins': 'HOU',
 'Devin Duvernay': 'BAL',
 'Kenneth Gainwell': 'PHI',
 'Albert Okwuegbunam': 'DEN',
 'Josh Palmer': 'LAC',
 'Jalen Reagor': 'PHI',
 'Laquon Treadwell': 'JAX',
 'David Johnson': 'HOU',
 'Alexander Mattison': 'MIN',
 "Tre'Quan Smith": 'NOR',
 'Jalen Guyton': 'LAC',
 'Julio Jones': 'TEN',
 'Calvin Ridley': 'ATL',
 'James Robinson': 'JAX',
 'Geoff Swaim': 'TEN',
 'Olamide Zaccheaus': 'ATL',
 'Cameron Brate': 'TAM',
 'Kenyan Drake': 'LVR',
 'Kyle Juszczyk': 'SFO',
 'Foster Moreau': 'LVR',
 'Chester Rogers': 'TEN',
 'Ricky Seals-Jones': 'WAS',
 'Jack Doyle': 'IND',
 'Darrell Henderson': 'LAR',
 'Josh Reynolds': '2TM',
 'Randall Cobb': 'GNB',
 'Keelan Cole': 'NYJ',
 'Melvin Gordon': 'DEN',
 'Jeremy McNichols': 'TEN',
 'Jonnu Smith': 'NWE',
 'Ryan Griffin': 'NYJ',
 'Mark Ingram': '2TM',
 'Samaje Perine': 'CIN',
 'Adam Trautman': 'NOR',
 'Sammy Watkins': 'BAL',
 'Damiere Byrd': 'CHI',
 'Hayden Hurst': 'ATL',
 'Kyle Rudolph': 'NYG',
 'Miles Sanders': 'PHI',
 'Darius Slayton': 'NYG',
 'Marquez Valdes-Scantling': 'GNB',
 'Jamaal Williams': 'DET',
 'Rex Burkhead': 'HOU',
 'Josiah Deguara': 'GNB',
 'Chuba Hubbard': 'CAR',
 'Demarcus Robinson': 'KAN',
 'Tajae Sharpe': 'ATL',
 'Freddie Swain': 'SEA',
 'Albert Wilson': 'MIA',
 'Jamal Agnew': 'JAX',
 'Jordan Akins': 'HOU',
 'Mo Alie-Cox': 'IND',
 'Danny Amendola': 'HOU',
 'Tavon Austin': 'JAX',
 'DeAndre Carter': 'WAS',
 'Rashard Higgins': 'CLE',
 'Jauan Jennings': 'SFO',
 "James O'Shaughnessy": 'JAX',
 'Henry Ruggs III': 'LVR',
 'James Washington': 'PIT',
 'Giovani Bernard': 'TAM',
 'Pharaoh Brown': 'HOU',
 'Jamycal Hasty': 'SFO',
 'T.Y. Hilton': 'IND',
 'Marcedes Lewis': 'GNB',
 'Zack Moss': 'BUF',
 'Chris Conley': 'HOU',
 'Kareem Hunt': 'CLE',
 'Justin Jackson': 'LAC',
 'Harrison Bryant': 'CLE',
 'DeeJay Dallas': 'SEA',
 'Will Dissly': 'SEA',
 'Sony Michel': 'LAR',
 'Chris Moore': 'HOU',
 'John Bates': 'WAS',
 'Nick Chubb': 'CLE',
 'Marquise Goodwin': 'CHI',
 'DeSean Jackson': '2TM',
 'Brevin Jordan': 'HOU',
 'Isaiah McKenzie': 'BUF',
 'Donald Parham': 'LAC',
 'Tommy Tremble': 'CAR',
 'Clyde Edwards-Helaire': 'KAN',
 'Zach Gentry': 'PIT',
 'Dontrell Hilliard': 'TEN',
 "D'Ernest Johnson": 'CLE',
 'Elijah Mitchell': 'SFO',
 'Antoine Wesley': 'ARI',
 'Demetric Felton': 'CLE',
 'Damien Harris': 'NWE',
 'Derrick Henry': 'TEN',
 'Ian Thomas': 'CAR',
 'Logan Thomas': 'WAS',
 'Robert Tonyan': 'GNB',
 'Brandon Zylstra': 'CAR',
 'C.J. Ham': 'MIN',
 'Terrace Marshall Jr.': 'CAR',
 'Stephen Anderson': 'LAC',
 'Noah Brown': 'DAL',
 'Travis Homer': 'SEA',
 'Tyler Kroft': 'NYJ',
 'Ty Montgomery': 'NOR',
 'James Proche': 'BAL',
 'Damien Williams': 'CHI',
 'Maxx Williams': 'ARI',
 'Quintez Cephus': 'DET',
 'Chris Evans': 'CIN',
 'Kendall Hinton': 'DEN',
 'Mohamed Sanu': 'SFO',
 'Cam Sims': 'WAS',
 'JuJu Smith-Schuster': 'PIT',
 'Jimmy Graham': 'CHI',
 'Khalil Herbert': 'CHI',
 'Mack Hollins': 'MIA',
 'O.J. Howard': 'TAM',
 'MyCole Pruitt': 'TEN',
 'Rhamondre Stevenson': 'NWE',
 'Ashton Dulin': 'IND',
 'KhaDarel Hodge': 'DET',
 "Lil'Jordan Humphrey": 'NOR',
 'Juwan Johnson': 'NOR',
 'Jerick McKinnon': 'KAN',
 'Dare Ogunbowale': 'JAX',
 'Boston Scott': 'PHI',
 'Salvon Ahmed': 'MIA',
 'Dyami Brown': 'WAS',
 'Eric Ebron': 'PIT',
 'Isaiah Ford': 'MIA',
 "N'Keal Harry": 'NWE',
 'Carlos Hyde': 'JAX',
 'Jalen Richard': 'LVR',
 'Adam Shaheen': 'MIA',
 'Malik Turner': 'DAL',
 'James White': 'NWE',
 'Brock Wright': 'DET',
 'Tevin Coleman': 'NYJ',
 'Kylen Granson': 'IND',
 'Jakeem Grant': '2TM',
 'Blake Jarwin': 'DAL',
 'Collin Johnson': 'NYG',
 'Breshad Perriman': 'TAM',
 'John Ross': 'NYG',
 'Drew Sample': 'CIN',
 'Ben Skowronek': 'LAR',
 'Peyton Barber': 'LVR',
 'Trinity Benson': 'DET',
 'Parris Campbell': 'IND',
 "D'Wayne Eskridge": 'SEA',
 'Royce Freeman': '2TM',
 'Cyril Grayson': 'TAM',
 'Alec Ingold': 'LVR',
 'Ronald Jones II': 'TAM',
 'Latavius Murray': 'BAL',
 'Jaret Patterson': 'WAS',
 'Dante Pettis': 'NYG',
 'Anthony Schwartz': 'CLE',
 'Dede Westbrook': 'MIN',
 'Blake Bell': 'KAN',
 'Alex Collins': 'SEA',
 "D'Onta Foreman": 'TEN',
 'Jacob Hollister': 'JAX',
 'Marcus Johnson': 'TEN',
 'Dax Milne': 'WAS',
 'Josh Oliver': 'BAL',
 'Elijhaa Penny': 'NYG',
 'Trent Sherfield': 'SFO',
 'Keith Smith': 'ATL',
 'Lee Smith': 'ATL',
 'Equanimeous St. Brown': 'GNB',
 'Tommy Sweeney': 'BUF',
 'Nick Vannett': 'NOR',
 "Ty'Son Williams": 'BAL',
 'Derrick Gore': 'KAN',
 'Denzel Mims': 'NYJ',
 'Patrick Ricard': 'BAL',
 'Eric Saubert': 'DEN',
 'Jeff Smith': 'NYJ',
 'Juwann Winfree': 'GNB',
 'Matt Breida': 'BUF',
 'DJ Chark': 'JAX',
 'Phillip Dorsett': '3TM',
 'Luke Farrell': 'JAX',
 'Noah Gray': 'KAN',
 'Penny Hart': 'SEA',
 'Godwin Igwebuike': 'DET',
 'Jesse James': 'CHI',
 'Craig Reynolds': 'DET',
 'Greg Ward': 'PHI',
 'Jeff Wilson': 'SFO',
 'Eno Benjamin': 'ARI',
 'Chris Carson': 'SEA',
 'Corey Clement': 'DAL',
 'Jaelon Darden': 'TAM',
 'Tom Kennedy': 'DET',
 'Chris Manhertz': 'JAX',
 "Tre' McKitty": 'LAC',
 'Anthony Miller': '2TM',
 'Rashaad Penny': 'SEA',
 'Curtis Samuel': 'WAS',
 'Shi Smith': 'CAR',
 'Kenny Stills': 'NOR',
 'Preston Williams': 'MIA',
 'Antony Auclair': 'HOU',
 "Le'Veon Bell": '2TM',
 'Dez Fitzpatrick': 'TEN',
 'Joe Fortson': 'KAN',
 'Josh Gordon': 'KAN',
 'KJ Hamler': 'DEN',
 'Parker Hesse': 'ATL',
 'Tony Jones': 'NOR',
 'Joshua Kelley': 'LAC',
 'Scott Miller': 'TAM',
 'Colby Parkinson': 'SEA',
 'Rodney Smith': 'CAR',
 'Ihmir Smith-Marsette': 'MIN',
 'Mike Thomas': 'CIN',
 'Cody White': 'PIT',
 'Charlie Woerner': 'SFO',
 'Christian Blake': 'ATL',
 'Kendall Blanton': 'LAR',
 'C.J. Board': 'NYG',
 "Ja'Marcus Bradley": 'CLE',
 'Jason Cabinda': 'DET',
 'Pharoh Cooper': 'NYG',
 'Tyler Davis': 'GNB',
 'Ross Dwelley': 'SFO',
 'Darren Fells': '2TM',
 'Will Fuller': 'MIA',
 'Garrett Griffin': 'NOR',
 'Chris Herndon': 'MIN',
 'Taysom Hill': 'NOR',
 'Chris Hogan': 'NOR',
 'Cody Hollister': 'TEN',
 'Jermar Jefferson': 'DET',
 'Duke Johnson': 'MIA',
 'Jakob Johnson': 'NWE',
 'Phillip Lindsay': '2TM',
 'Sean McKeon': 'DAL',
 'Kene Nwangwu': 'MIN',
 'Qadree Ollison': 'ATL',
 'Adrian Peterson': '2TM',
 'Amari Rodgers': 'GNB',
 'Wendell Smallwood': 'WAS',
 'Willie Snead': '2TM',
 'Jack Stoll': 'PHI',
 'J.J. Taylor': 'NWE',
 "Ke'Shawn Vaughn": 'TAM',
 'Kristian Wilkerson': 'NWE',
 'Jonathan Williams': 'WAS',
 'Cam Akers': 'LAR',
 'Ryquell Armstead': 'JAX',
 'Malcolm Brown': 'MIA',
 'Michael Burton': 'KAN',
 'Greg Dortch': 'ARI',
 'Alex Erickson': 'CAR',
 'Reggie Gilliam': 'BUF',
 'Demetrius Harris': 'ARI',
 'K.J. Hill': 'LAC',
 'Tommy Hudson': 'TEN',
 'Tyree Jackson': 'PHI',
 'Andy Janovich': 'CLE',
 'Keith Kirkwood': 'CAR',
 'Patrick Laird': 'MIA',
 'D.J. Montgomery': 'NYJ',
 'Jason Moore': 'LAC',
 'Chris Myarick': 'NYG',
 'Gabe Nabers': 'LAC',
 'Adam Prentice': 'NOR',
 'Jaylen Samuels': 'HOU',
 'Trey Sermon': 'SFO',
 'Kaden Smith': 'NYG',
 'Jeremy Sprinkle': 'DAL',
 'Auden Tate': 'CIN',
 'Jonathan Ward': 'ARI',
 'Derek Watt': 'PIT',
 'Trevon Wesco': 'NYJ',
 'Mitchell Wilcox': 'CIN',
 'Shane Zylstra': 'DET',
 'JJ Arcega-Whiteside': 'PHI',
 'Kalen Ballage': 'PIT',
 'Cameron Batson': 'TEN',
 'Khari Blasingame': 'TEN',
 'Reggie Bonnafon': 'CAR',
 'Mike Boone': 'DEN',
 'Daniel Brown': 'NYJ',
 'Derek Carrier': 'LVR',
 'Cethan Carter': 'MIA',
 'Dominique Dafney': 'GNB',
 'Taylor Decker': 'DET',
 'Darrynton Evans': 'TEN',
 'Jesper Horsted': 'CHI',
 'Jordan Howard': 'PHI',
 'Trenton Irwin': 'CIN',
 'Tyron Johnson': '2TM',
 'Marcus Kemp': 'KAN',
 'Jake Kumerow': 'BUF',
 'Marlon Mack': 'IND',
 'Racey McMath': 'TEN',
 'Jaydon Mickens': '2TM',
 'Stanley Morgan Jr.': 'CIN',
 'Dazz Newsome': 'CHI',
 'Gunner Olszewski': 'NWE',
 'Dezmon Patmon': 'IND',
 'Scottie Phillips': 'HOU',
 'Kevin Rader': 'PIT',
 'Trey Ragas': 'LVR',
 'Richard Rodgers': 'PHI',
 'C.J. Saunders': 'CAR',
 'David Sills': 'NYG',
 'Benny Snell Jr.': 'PIT',
 'Johnny Stanton': 'CLE',
 'Luke Stocker': 'MIN',
 'Mike Strachan': 'IND',
 'Malik Taylor': 'GNB',
 'Patrick Taylor': 'GNB',
 'Trent Taylor': 'CIN',
 'Tylan Wallace': 'BAL',
 'Austin Walter': 'NYJ',
 'Dwayne Washington': 'NOR',
 'Tyrell Williams': 'DET',
 'Ethan Wolf': 'NOR',
 'Kenny Yeboah': 'NYJ',
 'Alex Armah': '2TM',
 'Nick Bawden': 'NYJ',
 'Nick Bellore': 'SEA',
 'Tarik Black': 'NYJ',
 'Miles Boykin': 'BAL',
 'Nick Boyle': 'BAL',
 'Garrett Bradbury': 'MIN',
 'Gary Brightwell': 'NYG',
 'Keke Coutee': 'IND',
 'Darrell Daniels': 'ARI',
 'Frank Darby': 'ATL',
 'Davion Davis': 'HOU',
 'Wayne Gallman': '2TM',
 'Marvin Hall': 'ATL',
 'Taylor Heinicke': 'WAS',
 'Daniel Helm': 'LVR',
 'Kylin Hill': 'GNB',
 'Amani Hooker': 'TEN',
 'Brycen Hopkins': 'LAR',
 'Andy Isabella': 'ARI',
 'Lane Johnson': 'PHI',
 'Daniel Jones': 'NYG',
 'Tommylee Lewis': 'MIA',
 'Drew Lock': 'DEN',
 'Hunter Long': 'MIA',
 'Conor McDermott': 'NYJ',
 'Anthony McFarland Jr.': 'PIT',
 'Kirk Merritt': 'MIA',
 'Johnny Mundt': 'LAR',
 'Ryan Nall': 'CHI',
 'Devine Ozigbo': '2TM',
 'Danny Pinter': 'IND',
 'Bobby Price': 'DET',
 'Mike Remmers': 'KAN',
 'Andre Roberts': '2TM',
 'Aaron Rodgers': 'GNB',
 'Larry Rountree': 'LAC',
 'Diontae Spencer': 'DEN',
 'Terence Steele': 'DAL',
 'Andrew Thomas': 'NYG',
 'Eric Tomlinson': 'BAL',
 'Kevin White': 'NOR',
 'Christian Wilkins': 'MIA',
 'Seth Williams': 'DEN',
 'Trayveon Williams': 'CIN',
 'Easop Winston': 'NOR',
 'Deon Yelder': 'TAM',
 'Tom Brady': 'TAM',
 'Justin Herbert': 'LAC',
 'Matthew Stafford': 'LAR',
 'Patrick Mahomes': 'KAN',
 'Derek Carr': 'LVR',
 'Joe Burrow': 'CIN',
 'Dak Prescott': 'DAL',
 'Josh Allen': 'BUF',
 'Kirk Cousins': 'MIN',
 'Aaron Rodgers*+': 'GNB',
 'Matt Ryan': 'ATL',
 'Jimmy Garoppolo': 'SFO',
 'Mac Jones': 'NWE',
 'Kyler Murray': 'ARI',
 'Ben Roethlisberger': 'PIT',
 'Ryan Tannehill': 'TEN',
 'Trevor Lawrence': 'JAX',
 'Carson Wentz': 'IND',
 'Jared Goff': 'DET',
 'Jalen Hurts': 'PHI',
 'Russell Wilson': 'SEA',
 'Teddy Bridgewater': 'DEN',
 'Baker Mayfield': 'CLE',
 'Lamar Jackson': 'BAL',
 'Davis Mills': 'HOU',
 'Tua Tagovailoa': 'MIA',
 'Sam Darnold': 'CAR',
 'Zach Wilson': 'NYJ',
 'Justin Fields': 'CHI',
 'Andy Dalton': 'CHI',
 'Jacoby Brissett': 'MIA',
 'Jameis Winston': 'NOR',
 'Trevor Siemian': 'NOR',
 'Tyler Huntley': 'BAL',
 'Tyrod Taylor': 'HOU',
 'Mike White': 'NYJ',
 'Mike Glennon': 'NYG',
 'Colt McCoy': 'ARI',
 'Geno Smith': 'SEA',
 'Cam Newton': 'CAR',
 'Josh Johnson': '2TM',
 'Trey Lance': 'SFO',
 'Tim Boyle': 'DET',
 'Case Keenum': 'CLE',
 'Gardner Minshew II': 'PHI',
 'Cooper Rush': 'DAL',
 'Jordan Love': 'GNB',
 'P.J. Walker': 'CAR',
 'Joe Flacco': 'NYJ',
 'Mason Rudolph': 'PIT',
 'Nick Foles': 'CHI',
 'Brian Hoyer': 'NWE',
 'Jake Fromm': 'NYG',
 'Garrett Gilbert': 'WAS',
 'Sean Mannion': 'MIN',
 'Brandon Allen': 'CIN',
 'Nick Mullens': 'CLE',
 'Ian Book': 'NOR',
 'Kyle Allen': 'WAS',
 'Chad Henne': 'KAN',
 'Blaine Gabbert': 'TAM',
 'Mitchell Trubisky': 'BUF',
 'Jack Fox': 'DET',
 'Chris Streveler': 'ARI',
 'C.J. Beathard': 'JAX',
 'Jacob Eason': 'IND',
 'Deebo Samuel*+': 'SFO',
 'Chris Banjo': 'ARI',
 'Josh Rosen': 'ATL',
 'Tommy Townsend': 'KAN',
 'Ryan Fitzpatrick': 'WAS',
 'Matthias Farley': 'TEN',
 'Kellen Mond': 'MIN',
 'John Wolford': 'LAR',
 'Marcus Mariota': 'LVR',
 'Johnny Hekker': 'LAR',
 'Chris Boswell': 'PIT',
 'Riley Dixon': 'NYG',
 'Feleipe Franks': 'ATL',
 'Blake Gillikin': 'NOR',
 'Sam Koch': 'BAL',
 'Cooper Kupp*+': 'LAR',
 'Ty Long': 'LAC',
 'Brett Rypien': 'DEN',
 'Jason Huntley': 'PHI',
 'Deon Jackson': 'IND',
 "La'Mical Perine": 'NYJ',
 'Logan Woodside': 'TEN',
 'Buddy Howell': 'LAR',
 'Mekhi Sargent': '3TM',
 'Kenjon Barner': 'TAM',
 'JaQuan Hardy': 'DAL',
 'Trenton Cannon': '2TM',
 'Damarea Crockett': 'DEN',
 'Sam Ehlinger': 'IND',
 'Kurt Benkert': 'GNB',
 'Chase Daniel': 'LAC',
 'Jake Funk': 'LAR',
 'John Kelly': 'CLE',
 'Dallin Leavitt': 'LVR',
 'Raheem Mostert': 'SFO',
 'Jacques Patrick': 'SFO',
 'Nathan Peterman': 'LVR',
 'Davis Webb': 'BUF',
 'Alex Bachman': 'NYG',
 'David Blough': 'DET',
 'Sean Chandler': 'CAR',
 'Nathan Cottrell': 'JAX',
 'Clayton Fejedelem': 'MIA',
 'Maurice Ffrench': 'LAC',
 'Jamie Gillan': 'CLE',
 'Andy Lee': 'ARI',
 'Braden Mann': 'NYJ',
 'Nate McCrary': 'BAL',
 'C.J. Moore': 'DET',
 'Michael Palardy': 'MIA',
 'Ito Smith': 'DAL',
 'Tremon Smith': 'HOU',
 'Andrew Wingard': 'JAX'}

In [66]:
roster_dict['Cooper Kupp']

'LAR'

In [97]:
df_roster['Team_Name_Full'] = df_roster['Team_Name_Abbrev'].map(get_key)

df_roster['Team_Name_Mascot'] = df_roster['Team_Name_Full'].map(lambda x: x.split()[-1])

In [102]:
df_roster.head(45)

,Player,Team_Name_Abbrev,Team_Name_Full,Team_Name_Mascot
0,Cooper Kupp,LAR,Los Angeles Rams,Rams
1,Davante Adams,GNB,Green Bay Packers,Packers
2,Tyreek Hill,KAN,Kansas City Chiefs,Chiefs
3,Justin Jefferson,MIN,Minnesota Vikings,Vikings
4,Mark Andrews,BAL,Baltimore Ravens,Ravens
5,Diontae Johnson,PIT,Pittsburgh Steelers,Steelers
6,Keenan Allen,LAC,Los Angeles Chargers,Chargers
7,Jaylen Waddle,MIA,Miami Dolphins,Dolphins
8,Stefon Diggs,BUF,Buffalo Bills,Bills
9,Hunter Renfrow,LVR,Las Vegas Raiders,Raiders
10,Chris Godwin,TAM,Tampa Bay Buccaneers,Buccaneers
11,D.J. Moore,CAR,Carolina Panthers,Panthers
12,Travis Kelce,KAN,Kansas City Chiefs,Chiefs
13,Marquise Brown,BAL,Baltimore Ravens,Ravens
14,Brandin Cooks,HOU,Houston Texans,Texans
15,Amon-Ra St. Brown,DET,Detroit Lions,Lions
16,Michael Pittman Jr.,IND,Indianapolis Colts,Colts
17,Jakobi Meyers,NWE,key doesn't exist,exist
18,Cole Beasley,BUF,Buffalo Bills,Bills
19,Ja'Marr Chase,CIN,Cincinnati Bengals,Bengals
20,Darnell Mooney,CHI,Chicago Bears,Bears
21,CeeDee Lamb,DAL,Dallas Cowboys,Cowboys
22,Dalton Schultz,DAL,Dallas Cowboys,Cowboys
23,Christian Kirk,ARI,Arizona Cardinals,Cardinals
24,Terry McLaurin,WAS,Washington Commanders,Commanders
25,Deebo Samuel,SFO,San Francisco 49ers,49ers
26,Mike Williams,LAC,Los Angeles Chargers,Chargers
27,D.K. Metcalf,SEA,Seattle Seahawks,Seahawks
28,Zach Ertz,2TM,key doesn't exist,exist
29,Mike Evans,TAM,Tampa Bay Buccaneers,Buccaneers
30,Najee Harris,PIT,Pittsburgh Steelers,Steelers
31,Tee Higgins,CIN,Cincinnati Bengals,Bengals
32,Mike Gesicki,MIA,Miami Dolphins,Dolphins
33,Marvin Jones,JAX,Jacksonville Jaguars,Jaguars
34,Tyler Lockett,SEA,Seattle Seahawks,Seahawks
35,George Kittle,SFO,San Francisco 49ers,49ers
36,Austin Ekeler,LAC,Los Angeles Chargers,Chargers
37,Leonard Fournette,TAM,Tampa Bay Buccaneers,Buccaneers
38,Amari Cooper,DAL,Dallas Cowboys,Cowboys
39,Noah Fant,DEN,Denver Broncos,Broncos
40,Kyle Pitts,ATL,Atlanta Falcons,Falcons
41,Tyler Boyd,CIN,Cincinnati Bengals,Bengals
42,Adam Thielen,MIN,Minnesota Vikings,Vikings
43,Russell Gage,ATL,Atlanta Falcons,Falcons
44,DeVonta Smith,PHI,Philadelphia Eagles,Eagles

### dictionary witih full team names: abbreviations

In [96]:
Team_Abbreviations_Dict = {
    'Arizona Cardinals': 'ARI',
    'Atlanta Falcons': 'ATL',
    'Baltimore Ravens': 'BAL',
    'Buffalo Bills' : 'BUF',
    'Carolina Panthers': 'CAR',
    'Chicago Bears': 'CHI',
    'Cincinnati Bengals': 'CIN',
    'Cleveland Browns': 'CLE',
    'Dallas Cowboys': 'DAL',
    'Denver Broncos': 'DEN',
    'Detroit Lions': 'DET',
    'Green Bay Packers': 'GNB',
    'Houston Texans': 'HOU',
    'Indianapolis Colts': 'IND',
    'Jacksonville Jaguars': 'JAX',
    'Kansas City Chiefs': 'KAN',
    'Miami Dolphins': 'MIA',
    'Minnesota Vikings': 'MIN',
    'New England Patriots': 'NE',
    'New Orleans Saints': 'NO',
    'NY Giants': 'NYG',
    'NY Jets': 'NYJ',
    'Las Vegas Raiders': 'LVR',
    'Philadelphia Eagles': 'PHI',
    'Pittsburgh Steelers': 'PIT',
    'Los Angeles Chargers': 'LAC',
    'San Francisco 49ers': 'SFO',
    'Seattle Seahawks': 'SEA',
    'Los Angeles Rams': 'LAR',
    'Tampa Bay Buccaneers': 'TAM',
    'Tennessee Titans': 'TEN',
    'Washington Commanders': 'WAS'
}

In [70]:
Team_Abbreviations_Dict.keys()

dict_keys(['Arizona Cardinals', 'Atlanta Falcons', 'Baltimore Ravens', 'Buffalo Bills', 'Carolina Panthers', 'Chicago Bears', 'Cincinnati Bengals', 'Cleveland Browns', 'Dallas Cowboys', 'Denver Broncos', 'Detroit Lions', 'Green Bay Packers', 'Houston Texans', 'Indianapolis Colts', 'Jacksonville Jaguars', 'Kansas City Chiefs', 'Miami Dolphins', 'Minnesota Vikings', 'New England Patriots', 'New Orleans Saints', 'NY Giants', 'NY Jets', 'Las Vegas Raiders', 'Philadelphia Eagles', 'Pittsburgh Steelers', 'Los Angeles Chargers', 'San Francisco 49ers', 'Seattle Seahawks', 'Los Angeles Rams', 'Tampa Bay Buccaneers', 'Tennessee Titans', 'Washington Commanders'])

In [73]:
def get_key(val):
    for key, value in Team_Abbreviations_Dict.items():
         if val == value:
            return key
 
    return "key doesn't exist"

In [75]:
get_key('LAR')

'Los Angeles Rams'